<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Microsoft SQL Server"
        connectionString="Data Source=localhost;Initial Catalog=TODOLIST;Integrated Security=True; TrustServerCertificate=True"
        providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>